{% extends "dashboard_base.html" %}
{% block title %}ЭУМО - Создание тестов{% endblock %}
{% load static %}
{% block content %}

<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="row">
        <a href="{% url 'practical_editor' %}">
          <button type="button" class="btn btn-inverse-primary btn-rounded btn-icon">
          <i class="ti-angle-left"></i>
        </button>
        </a>
        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
          <h3 class="font-weight-bold">Создание новой темы</h3>
          <h6 class="font-weight-normal mb-0">Для создания новой темы добавьте название, краткое описание, изображение.
          </h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <form class="forms-sample" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
{% endif %}
            <div class="form-group">
              <label for="exampleInputName1">Название темы</label>
              <input type="text" name="title" class="form-control" placeholder="Название" required>
            </div>
            <div class="form-group">
              <label for="exampleInputName1">Номер темы</label>
              <input type="number" name="number" class="form-control" placeholder="Название" required>
            </div>
            <div class="form-group">
              <label>Изображение (превью)</label>
<input type="file" name="image" class="file-upload-default" id="imageInput">

<div class="input-group col-xs-12">
  <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image" id="filePathDisplay">
  <span class="input-group-append">
    <button class="file-upload-browse btn btn-primary" type="button" id="uploadBtn">Upload</button>
  </span>
</div>

<div class="mt-2">
  <img id="previewImage" src="{% if post.image %}{{ post.image.url }}{% endif %}" style="width: 150px; object-fit: contain;">
</div>
            </div>
            <div class="form-group">
              <label for="exampleTextarea1">Краткое описание</label>
              <textarea class="form-control" name="description" id="exampleTextarea1" rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mr-2">Продолжить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/file-upload.js' %}"></script>
{% endblock %}